.projectImg {
  width: 100%;
}

.projectContainer{
display: flex;
flex-direction: column;
}

.projectName{
  font-size: 46px;
}

.githubButton{
  font-size: 26px;
}

.liveButton{
  font-size: 26px;
}

.projectButtonDiv{
  display: flex;
}