@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gaegu:wght@300;700&family=Playfair+Display:wght@600&display=swap');

.projectImg {
  width: 100%;
  margin-bottom: 10px;
}

.projectContainer{
display: flex;
flex-direction: column;
margin: 0 40px;
align-items: center ;
padding: 10px;
}

.projectName{
  margin-top: 0px;
  font-family: 'Playfair Display', serif;
  font-size: 46px;
}

.githubButton{
  font-size: 26px;
}

.liveButton{
  font-size: 26px;
}

.projectButtonDiv{
  display: flex;
}