.headerNav {
  background-color: lightblue;
  /* position: fixed; */
}

.headerLink{
  display: flex;
  justify-content: space-around;
  padding: 36px;
}

.linkTag {
  padding: 20px;
  font-size: 32px;
}