@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gaegu:wght@300;700&family=Playfair+Display:wght@600&display=swap');


.headerNav {
  background-color: lightblue;
  /* position: fixed; */
}

.headerLink{
  display: flex;
  justify-content: space-around;
  padding: 36px;
}

.linkTag {
  padding: 20px;
  font-size: 32px;
  font-family: 'Playfair Display', serif;
}

.linkLine {
  text-decoration: none;
}