@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.aboutContainer {
 border-radius: 14px;
 margin: 0 10px 0 10px;
}

#aboutMargin{
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    background-image: linear-gradient(135deg, rgb(107, 64, 18) 0%, rgb(171, 96, 16) 100%);
    padding-bottom: 40%;
}

.aboutTitle {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  color: var(--light-color);
}

.aboutParagraph {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: var(--light-color);
}

.aboutImage{
  width: 50vw;
  margin: 20px 0px 0px 24vw;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgb(38, 32, 26);
  transition: var(--transition);
  filter: grayscale(86%);
}

.aboutImage:hover{
  filter: grayscale(20%);
}


@media all and (min-width: 900px){
  .aboutTitle {
    font-size: 32px;
    }
  
  .aboutParagraph {
    font-size: 22px;
  }

  .aboutContainer {
    width : 80%;
    margin: 80px auto 10px auto;
   }

   #aboutMargin {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 16%;
   }
  
   .aboutImage{
    margin: 210px 0 0 10vw;
    width: 20vw;
   }
    
}