@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.aboutContainer {
 border-radius: 14px;
 
}

.aboutMargin{
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    background-image: linear-gradient(135deg, rgb(107, 64, 18) 0%, rgb(171, 96, 16) 100%);
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr ;
}

.aboutTitle {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  color: var(--light-color);
}

.aboutParagraph {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: var(--light-color);
}

.aboutImage{
  width: 60vw;
  margin: 10px;
  border-radius: 14px;
  box-shadow: 2px 2px 5px gray;
  }

@media all and (min-width: 500px){
  .aboutTitle {
    font-size: 32px;
    }
  
  .aboutParagraph {
    font-size: 22px;
  }

  .aboutContainer {
    width : 66%;
    margin: 10px auto;
   }

   .aboutMargin {
    border: solid green;
   }
  
   .aboutImage{
    margin: 20vh 0 0 10vw;
    width: 20vw;
   }
    
}