@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.aboutContainer {
 border-radius: 14px;
 margin: 0 10px 0 10px;
}

#aboutMargin{
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    background-image: linear-gradient(rgb(49, 68, 120) 0%, rgb(31, 69, 119) 100%);
    padding-bottom: 60%;
    display: flex;
    flex-direction: column;
}

.aboutTitle {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: var(--light-color);
}

.aboutParagraph {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: var(--light-color);
  text-align: center;
}

.aboutImage{
  width: 50vw;
  margin: 100px auto 30px auto;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgb(38, 32, 26);
  transition: var(--transition);
  filter: grayscale(20%);
}

.aboutImage:hover{
  filter: grayscale(50%);
}

.aboutSkillLogo{
  width: 90px;
}

@media all and (min-width: 800px){
  .aboutTitle {
    font-size: 32px;
    }
  
  .aboutParagraph {
    font-size: 22px;
  }

  .aboutContainer {
    width : 75%;
    margin: 80px auto 10px auto;
   }
  
   .aboutImage{
    width: 390px;
   }
}

@media all and (min-width: 1000px){
  .aboutTitle {
    font-size: 32px;
    }
  
  .aboutParagraph {
    font-size: 22px;
  }

  .aboutContainer {
    width : 75%;
    margin: 80px auto 10px auto;
   }

   #aboutMargin {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 16%;
   }
  
   .aboutImage{
    margin: 150px 0 0 10vw;
    width: 430px;
   }
    
}