.contactWrap{
  
  clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
  background-image: linear-gradient(135deg, rgb(107, 64, 18) 0%, rgb(171, 96, 16) 100%);
  padding-top: 18%;
  padding-bottom: 6%;
}


.contactContainer{
    color: var(--light-color);
    display: flex;
    justify-content: center;
    
 }


.contactTitle{
 text-align: center;
 color: var(--light-color);
 padding-bottom: 50px;
}

.contactInfo {
  font-size: 24px;
  letter-spacing: 1px;
}


@media all and (max-width: 1200px) and (min-width: 900px){
  .contactInfo {
    font-size: 30px;
  }


 
  .contactWrap{
    padding-top: 12%;
  }
}

@media all and (min-width: 1201px){
  .contactInfo {
    font-size: 30px;
  }


  .contactWrap{
    padding-top: 8%;
  }
 
}