.contactContainer {
  margin: 0 40px;
}

.contactInfo {
  font-size: 46px;
}


@media all and (min-width: 400px){
  .contactInfo {
    font-size: 32px;
  }
  .contactContainer {
    margin: auto;
  }
  
}