.contactContainer {
  margin: auto;
}

.contactInfo {
  font-size: 24px;
  letter-spacing: 1px;
}


@media all and (min-width: 500px){
  .contactInfo {
    font-size: 30px;
  }
  .contactContainer {
    margin: auto;
  }
  
}