@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gaegu:wght@300;700&family=Playfair+Display:wght@600&display=swap');




.homeContainer {
margin: 20px 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: solid red;
height: 90vh;
}

.homeTitle {
font-size: 28px;
margin: 10px;
font-family: 'Playfair Display', serif;
}

.homeTitleSmall {
  font-size: 22px;
  margin: 10px 10px 20px 10px;
  font-family: 'Playfair Display', serif;
}

/* .homeImage{
width: 60vw;
margin: 10px;
border-radius: 14px;
box-shadow: 2px 2px 5px gray;
} */

@media all and (min-width: 500px) and (max-width: 600px){

  /* .homeImage{
    width: 45vw;
    } */
  
  .homeTitle {
    font-size: 30px;
    }

    .homeTitleSmall {
      font-size: 22px;
    }
}


@media all and (min-width: 601px) and (max-width: 800px){

  /* .homeImage{
    width: 40vw;
    } */
  
  .homeTitle {
    font-size: 36px;
    }

    .homeTitleSmall {
      font-size: 26px;
    }

}


@media all and (min-width: 801px){

  /* .homeImage{
    width: 310px;
    } */

  .homeTitle {
    font-size: 36px;
    }

    .homeTitleSmall {
      font-size: 26px;
    }


}

