@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gaegu:wght@300;700&family=Playfair+Display:wght@600&display=swap');

.projectImg {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 14px;
}

.projectDesc{
  width: 90%;
  font-family: 'Playfair Display', serif;
}

.projectContainer{
display: flex;
flex-direction: column;
margin: 20px 40px;
align-items: center ;
padding: 20px;
background-color: var(--light-color);
border-radius: 14px;
}

.projectName{
  margin-top: 0px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.githubButton{
  font-size: 16px;
  margin-bottom: 10px;
}

.liveButton{
  font-size: 16px;
}

.projectButtonDiv{
  display: flex;
}

@media all and (min-width: 500px){
  .projectImg {
    width: 50%;
  
  }
  .projectName{
    font-size: 32px;
  }

  .projectDesc{
    width: 70%;
    
  }

  .projectContainer{
    margin: 20px 180px;
    }
    
}