@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gaegu:wght@300;700&family=Playfair+Display:wght@600&display=swap');

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 40px 0 40px;
}

.footerLinkTag{
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: rgb(22, 18, 14)
}

@media all and (max-width: 400px){

}