@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gaegu:wght@300;700&family=Playfair+Display:wght@600&display=swap');

:root {
  --bg-color: #d5d5d5;
  --dark-color: #252422;
  --light-color: #ccc5b9;
  --primary-color: #252422;
  --secondary-color: #403d39;
  --highlight-color: rgba(97, 46, 17, 0.616);
  --brown: #766042;
  --orange: rgb(171, 96, 16);
  --transition: all 0.3s ease-in-out;
}

/* --brown: #977a55; */

body {
  background-image: linear-gradient( rgb(218, 216, 216), rgb(175, 175, 175));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.App {
display: grid;
grid-template-columns:  1fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}


